/* Hide scrollbars for all elements on web */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}